@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>This website will help you evaluate the price that will be required for your journey by Taxis</p>
        <p>For this : Click on the Calculate Price option</p>
    </div>
