@model FairFareML.Model.ModelInput

@{
    ViewData["Title"] = "Price Prediction Using ML.NET";
    ViewBag.Price = ViewBag.Price * 70;
}

<h2>Taxi Fare Prediction</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Predict_price">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Passenger_count" class="control-label"></label>
                <input asp-for="Passenger_count" type="number" class="form-control" />
                <span asp-validation-for="Passenger_count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip_time_in_secs" class="control-label"></label>
                <input asp-for="Trip_time_in_secs" class="form-control" />
                <span asp-validation-for="Trip_time_in_secs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip_distance" class="control-label"></label>
                <input asp-for="Trip_distance" class="form-control" />
                <span asp-validation-for="Trip_distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment_type" class="control-label"></label>
                <select asp-for="Payment_type" class="form-control">
                    <option value="CSH">Cash</option>
                    <option value="CRD">Credit</option>
                </select>
                <span asp-validation-for="Payment_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Check" class="btn btn-success" />
            </div>
        </form>
    </div>
    <div class="col-md-offset-4 col-md-4" style="text-align:center; vertical-align:middle;">
        @if (ViewBag.Price != null)
        {
<<<<<<< HEAD
            <h3 style="color:green"><b>Result</b></h3>
            <h4>Fare Price:Rs. @ViewBag.Price</h4>
=======
            <h1>Result</h1>
            <h2>Fare Price:Rs. @ViewBag.Price</h2>
>>>>>>> 14c4c25ac61fc26849005444e59c5389ead6882a
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}  